/*=============== Datasets styling ======================*/
#dataset .ui-selecting {
	background: #FECA40;
}

#dataset .ui-selected {
	background: gray;
	color: white;
	font-weight: bold
}

#dataset {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 220px;
}

#dataset li {
	margin: 2px;
	padding: 0.4em;
	font-size: 1em;
	height: 12px;
}

/*=============== Common styling ======================*/
button {
	color: blue;
	font-weight: bold;
}

label {
	color: #222222;
	font-size: 11px;;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
}

/*============================== Top panel - Datasets & Settings ==================*/
div#tabs_dataset {
	initialIndex: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 200px;
	width: 350px;
	margin: 5px;
	padding: 0;
	text-align: left;
	margin-top: 5px;
	font-size: 12px;
	color: rgb(0, 0, 0);
}

div#tabs_setting {
	position: absolute;
	top: 0px;
	left: 350px;
	height: 200px;
	width: 420px;
	margin: 10px;
	padding: 0;
	text-align: left;
	margin-top: 5px;
	font-size: 12px;
	color: rgb(0, 0, 0);
}

/*============================== Left panel - Geocast Query demo ==================*/
div#tabs_query {
	position: absolute;
	top: 0px;
	left: 780px;
	height: 200px;
	width: 220px;
	margin: 5px;
	padding: 0;
	text-align: left;
	margin-top: 5px;
	font-size: 12px;
	color: rgb(0, 0, 0);
}

div#clear_map {
	position: absolute;
	top: 460px;
	left: 0px;
	margin: 5px;
}

/**================ Mobility =====================*/
#panels_mobility {
	position: absolute;
	top: 210px;
	left: 0px;
	height: 300px;
	width: 200px;
	padding: 0px;
	margin: 5px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

/**================ Instruction =====================*/
#panels_instruction {
	position: absolute;
	top: 500px;
	left: 0px;
	height: 300px;
	width: 200px;
	padding: 0px;
	margin: 5px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

/*=============== Map styling ======================*/
#map_canvas {
	height: 100%;
	width: 790px;
	position: absolute;
	top: 210px;
	left: 210px;
	height: 100%;
	padding: 0px;
	margin: 5px;
}

div#auto-row {
	height: 50%;
	left: 0px;
	width: 200px;
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 12px;
	color: rgb(0, 0, 0);
}

a {
	color: #be7429;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.popupBox {
	position: relative;
	white-space: nowrap;
	width: 10%;
}

#auto-row .popupBox .popupCell {
	background-color: #fffafa;
}

#auto-row .popupCell:hover {
	background-color: #F9EDBE; /**#f5ebe9;**/
}

#auto-row .popupBox .popupCell .popupItem {
	color: #333;
	text-decoration: none;
	font-size: 1em;
}